$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey-light: #e4e4e4;
$clr-grey: rgb(169, 178, 185);
$clr-grey-light: rgb(225, 228, 229);
$clr-grey-dark: #343a40;
$clr-red-light: rgb(246,89,89);
$clr-red: #dc3545;
$clr-green: rgb(73, 193, 162);
$clr-green-dark: rgb(35, 158, 127);
$clr-blue: #007bff;
$clr-blue-dark: #006cdf;

$clr-orange: #fd7e14;
$clr-yellow: #ffc107;
$clr-purple: #6f42c1;
$clr-pink: #e83e8c;

$clr-bkg-popup: #000000ad;







