@import '../shared/makeup/colors.scss';

.filter {
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    position: relative;

    strong {
        font-weight: bold;
        text-transform: capitalize;
    }
    
    p {
        margin-left: 0.5em;
    }

    button {
        width: 30px;
        height: 30px;
        margin: 0.1em;
        color: $clr-grey-dark;
        border: 1px solid $clr-grey;
        border-radius: 3px;
        outline: none;
    }

    input {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        padding: 0.5em 1em;
        border: 0.5px solid $clr-grey-dark;
        border-radius: 3px;
        outline: none;
    }

    .highlight {
        border: 0.5px solid $clr-blue;
    }

    .btn-active {
        color: $clr-white;
        background-color: $clr-grey;
        border: 1px solid $clr-grey-dark;
    }
}